<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- Hibernate configuration file -->

<hibernate-configuration>

<session-factory>
	
	<!-- Using JDBC and MySQL, the default port is 3306, name of database is devices -->
	<property name="connection.url">jdbc:mysql://localhost:3306/FalconDB?autoReconnect=true&amp;useSSL=FALSE</property>
	<!-- should be the username and password to MySQL server -->
	<property name="connection.username">root</property>
	<property name="connection.password">YOUR PASSWORd</property>
	<property name="connection.poolsize">10</property>
	<!-- Using JDBS to connect to MySQL, JDBC driver needs to to included in the build path of eclipse -->
	<property name="connection.driver_class"> com.mysql.cj.jdbc.Driver</property>
	<property name="dialect"> org.hibernate.dialect.SQLServerDialect</property>
	<property name="current_session_context_class">thread</property>
	<property name="show_sql">true</property>
	<property name="hibernate.connection.autocommit">true</property> 
	<mapping resource = "clientproduct.hbm.xml"/>
	<mapping class = "dB.clientproduct"/>
	<mapping resource = "ClientList.hbm.xml"/>
	<mapping class = "dB.ClientList"/>
</session-factory>
</hibernate-configuration>
