
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Nunito;
}
 
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Nunito, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Nunito;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #333333;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Nunito;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    padding-top: 4%;
}
.logolanding{
    display:inline-block;
    margin-left: 20px;
    margin-top: 0;
    width: 25%;
    padding-top: 1%;
    padding-left: 2%;
}


.login100-form-avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-avatar img {
  width: 100%;
}

.avatar{
  display: inline-block;
  width: 7%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 2% ;
  margin-left: 60% ;
}

.main{
    width:100%;
}

.clientname{
    width:100%;
}

------------------------------------------
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
    outline: none !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }


textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Nunito;
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
}

.txt2 {
  font-family: Nunito;
  font-size: 15px;
  color: #008bcc;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;  
}

.search{
    width: 75%;
}

.wrap{
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.box{
    
    height:auto;
    font-family: Nunito;
    font-weight: 500;
    text-align: center;
    background-color: #e5e5e5;
/*  box-shadow: 0 0px 10px 0px rgba(118, 118, 118, 0.2);*/
}

.box p{
    font-size: 20px;
    color:#008bcc;
}

.box:hover{
    transition: background-color 0.5s ease;
    background-color: #333333;
  box-shadow: 0 0px 10px 0px rgba(118, 118, 118, 0.2);
}

.ico{
    width: 15%;
    margin: auto;
/*    filter:invert(100);*/
}

.wrap2{
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrap3{
    width:80%;
    display: grid;
    grid-template-columns: 1fr;
}

.wrap3 >hr{
    padding-bottom: 40px;
}

.bold{
    font-weight: 700;
}

.nav li{
    padding: 20px;
    margin-left: 40px;
    display: inline-block;
    
}

.nav li:hover{
    transition: background-color 0.5s ease;
    background-color: #008bcc;
    transition: color 0.25s ease;
    color:white;
}

.nav ul{
    margin: auto;
    align-content: center;
    text-align: center;
}

.nav{
    margin-top: 20px;
    background-color: #f0f0f0;
    font-weight: 200;
    font-size: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
    margin-left: 80%;
}

.switch>input{
    margin-left: 80%;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #008bcc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wrap3 >div >h5{
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
}

.twocol{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.twocol1{
    width:100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.twocol h5{
    display: inline-grid;
}

.threecol{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.clientbox{
    padding: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e5e5e5;
    margin:10px;
    font-size: 22px;
    font-weight: 700;
    color: #0094d9;
}

.clientbox:hover{
    transition: background-color 0.5s ease;
    background-color: #333333;
  box-shadow: 0 0px 10px 0px rgba(118, 118, 118, 0.2);
}

.thinner{
    font-weight: 100;
    color:#356b84;
}

.buttons button{
    display: inline;
}



/*------------------------------------------------------------------
[ Form ]*/

.login100-form{
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Nunito;
  font-size: 39px;
    font-weight: 800;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100,.wrap-input1001 {
  width: 100%;
  position: relative;
/*  border-bottom: 2px solid #d9d9d9; */
}

.input100, .input1001 {
  font-family: Nunito;
  font-size: 18px;
    font-weight: 500
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 5px;
border-radius:7px; 
    border-left: 5px;
    border-right: 5px;
    border-top: 5px;
}

.input1001{
    width:90%;
    display: inline-block;
}


.login1001-form-btn img{
    height: 40%;
}

/*---------------------------------------------*/ 
.focus-input100, .focus-input1001 {
  position: absolute;
  display: block;
  width: 90%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before, .focus-input1001::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #008bcc;
}

.focus-input100::after, .focus-input1001::after {
  font-family: Nunito;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}
.input1001:focus + .focus-input1001::after {
  top: -20px;
  font-size: 15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}
.input1001:focus + .focus-input1001::before {
  width: 95%;
}

.has-val.input100 + .focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.has-val.input1001 + .focus-input1001::after {
  top: -20px;
  font-size: 15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}
.has-val.input1001 + .focus-input1001::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn, .login1001-form-btn, .login1001-form-btn1, .cancel {
  font-family: Nunito;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #008bcc;
  border-radius: 25px;

  box-shadow: 0 10px 0px 0px rgba(87, 184, 70, 0.5);
  -moz-box-shadow: 0 0px 10px 0px rgba(87, 184, 70, 0.5);
  -webkit-box-shadow: 0 0px 10px 0px rgba(87, 184, 70, 0.5);
  -o-box-shadow: 0 10px 0px 0px rgba(87, 184, 70, 0.5);
  -ms-box-shadow: 0 10px 0px 0px rgba(87, 184, 70, 0.5);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login1001-form-btn1{
    width: 20%;
}

.login1001-form-btn{
    display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: inline;
  width: 80px;
  border-radius: 10px;
    background-color:#fafafa;
    box-shadow: 0 0px 0px 0px rgba(87, 184, 70, 0.5);
  -moz-box-shadow: 0 0px 00px 0px rgba(87, 184, 70, 0.5);
  -webkit-box-shadow: 0 0px 0px 0px rgba(87, 184, 70, 0.5);
  -o-box-shadow: 0 0px 0px 0px rgba(87, 184, 70, 0.5);
  -ms-box-shadow: 0 0px 0px 0px rgba(87, 184, 70, 0.5);
}

.login100-form-btn:hover,.login1001-form-btn:hover  {
  background-color: #333333;
  box-shadow: 0 0px 5px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 0px 5px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 0px 5px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 0px 5px 0px rgba(51, 51, 51, 0.5);
  -ms-box-shadow: 0 0px 5px 0px rgba(51, 51, 51, 0.5);
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Nunito;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


/*//////////////////////////////////////////////////////////////////
[ Login more ]*/
.login-more{
  position: relative;
  padding-left: 16px;
    text-align: center;
}

.cancel{
    background-color: #5d5d5d;
    width:10%;
}